/* Font color */

$base-font-size: 15px;
$base-font-family: "Gegoe UI","Gegoe WP","Gegoe Regular", sans-serif;
$base-font-color:#666666;

/* Background color*/

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;


/* showcasse area*/

$showcase-height: 400px;
$showcase_img:'../img/showcase.jpg';

